
.container {
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   
}

h1 {
    text-align: center;
    color: #333;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-section input,
.filter-section select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-section button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 180px;
}

.filter-section button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}
